<!-- Service Box -->
<div class="{{extraClass}} col-md-4 col-sm-12 {{offsets}} wow fadeInUp animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
    <div class="item">
        <img class="logo" src="{{imgUrl}}"></img>
        <div class="title">
            {{itemTitle}}
        </div>
        <div class="text">
            {{itemText}}
        </div>
    </div>
</div>
<!--/Service Box -->
